# Loops

In [1]:
if True: # indentation is always 4 spaces
    print('Data science')

Data science

In [3]:
if False:
    print('Data Science')
print('bye for now')

bye for now

In [5]:
if True:
    print('Data Science')
print('bye for now')

Data Science
bye for now

In [7]:
if True:
    print('Data Science')
else:
    print('bye for now')

Data Science

In [9]:
if False:
    print('Data Science')
else:
    print('bye for now')

bye for now

In [11]:
x = 4
r = x % 2 

if r == 0:
    print('Even number')

Even number

In [15]:
x = 5
r = x % 2 

if r == 0:
    print('Even number')

In [17]:
x = 5
r = x % 2 

if r == 0:
    print('Even number')
    
if r == 1:
    print('odd number')

odd number

In [19]:
x = 5
r = x % 2 

if r == 0:
    print('Even number')
if r != 0:
    print('odd number')

odd number

In [21]:
x = 4
r = x % 2 

if r == 0:
    print('Even number')
else:
    print('odd number')

Even number

In [23]:
x = 3
r = x % 2

if r == 0:
    print(' Even number')
    if x>5:
        print('greater number')
else:
    print('Odd Number')

Odd Number

In [25]:
x = 4
r = x % 2

if r == 0:
    print(' Even number')
    if x>5:
        print('greater number')

    else:
        print('lesser number ')
else:
    print('Odd Number')

 Even number
lesser number

In [27]:
x = 6
r = x % 2
if r == 0:
    print('Even number')
    if x>5:
        print('greater number')
    else:
        print('not greater')
else:
    print('Odd Number')

Even number
greater number

In [29]:
x = 2

if x == 1:
    print('one')
if x == 2:
    print('Two')
if x == 3:
    print('Three')
if x == 4:
    print('four')

Two

In [31]:
x = 5

if x == 1:
    print('one')
    
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('four')
    
else:
    print('number not found')

number not found

# Loops in Python

In [34]:
print('data science')
print('data science')
print('data science')
print('data science')    
print('data science')

data science
data science
data science
data science
data science

In [36]:
i = 1          # initializing

while i<=5:    # condition
    print('data science')
    i = i + 1  # increment

data science
data science
data science
data science
data science

In [38]:
i = 5          # initializing

while i>=1: # condition
    print('data science')
    i = i - 1  # increment

data science
data science
data science
data science
data science

In [40]:
i = 1
while i<=5:
    print('data science') # when we mention end then new line will not create
    j = 1
    while j<=4:
        print('technology')
        j = j + 1
        
    i = i + 1
    print()
    
    # the output which we got is very lengty but how to make them one line lets refer to below code

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [42]:
i = 1
while i<=5:
    print('data science') # when we mention end then new line will not create
    j = 1
    while j<=4:
        print('technology')
        j = j + 1
        
    i = i + 1
    print()
    
    # the output which we got is very lengty but how to make them one line lets refer to below code

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [44]:
# lets use while loop usig some numbers
i = 1
while i <= 4 :
    j = 0
    while  j <= 3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [46]:
name = 'nit'
for i in name:
    print(i)

n
i
t

In [48]:
name1 = [1,3.5,'hallo'] #i want print the value individualy
for i in name1:
    print(i)

1
3.5
hallo

In [50]:
for i in [2, 3, 7.8, 'hi']:
    print(i)

2
3
7.8
hi

In [52]:
for i in range(5):
    print(i)

0
1
2
3
4

In [54]:
for i in range(1,10,3):
    print(i)

1
4
7

In [56]:
for i in range(1,51):
    
    if i%5==0 :
        print(i)

5
10
15
20
25
30
35
40
45
50

In [58]:
for i in range(1,51):
    
    if i%5!=0 :
        print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49

In [60]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [62]:
for i in range(1,11):
    if i == 5:
        break 
    print(i)

1
2
3
4

In [64]:
for i in range(1,11):
    if i == 7:
        break 
    print(i)

1
2
3
4
5
6

In [66]:
for i in range(1,11):
    if i == 6:
        continue 
    print(i)

1
2
3
4
5
7
8
9
10

In [68]:
for i in range(1,11):
    if i == 5:
        continue 
    print('hello ',i)

hello  1
hello  2
hello  3
hello  4
hello  6
hello  7
hello  8
hello  9
hello  10

In [70]:
for i in range(1,11):

SyntaxError: incomplete input (2506072061.py, line 1)

In [72]:
for i in range(1,11):
    pass

In [74]:
for i in range(1,51):
    if i%3 == 0:
        print(i)
print('end')

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
end

In [76]:
for i in range(1,50):
    if i%3 == 0:
        continue
    print(i)
print('end')

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
end

In [78]:
for i in range(1,51):
    if i%3 == 0 or i%5 == 0:
        continue
    print(i)
print('end')    
# it will skip all the value which is divisible by 3 or 5

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49
end

In [ ]:
for i in range(1,51):
    if i%3 == 0 and i%5 == 0:
        continue
    print(i)
print('end')    
# it will skip all the value which is divisible by 3 or 5

In [80]:
# i dont want to print the values which are odd numbers that means print only even numbers
for i in range(1,50):
    
    if (i%2 == 0):
        pass
    else:
        print(i)
print('bye')

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
bye

In [82]:
print('# # # #')
print('# # # #')
print('# # # #')
print('# # # #')

# # # #
# # # #
# # # #
# # # #

In [84]:
for j in range(4):
    print('#', end=" ")

# # # #

In [86]:
for j in range(4):
    print('#', end=" ")
    
print()

for j in range(4):
    print('#', end=" ")

# # # #
# # # #

In [88]:
for j in range(4):
    print('#', end=" ")
    
print()

for j in range(4):
    print('#', end=" ")
print()
    
for j in range(4):
    print('#', end=" ")
    
print()

for j in range(4):
    print('#', end=" ")

# # # #
# # # #
# # # #
# # # #

In [90]:
for i in range(4):
    for j in range(4):
        print('#', end="  ")
    print()
    # pease use debug mode in pycharm

#  #  #  #
#  #  #  #
#  #  #  #
#  #  #  #