In [81]:
def greet():  # define the function
    print('good evening') ## print the statement

In [83]:
def greet():  # define the function
    print('good evening') ## print the statement
greet()  # call the function

good evening

In [85]:
def greet():  # define the function
    print('good evening') ## print the statement
greet() 

def greet():  # define the function
    print('good evening') ## print the statement
greet() 

def greet():  # define the function
    print('good evening') ## print the statement
greet()

good evening
good evening
good evening

In [87]:
def greet():  # define the function
    print('good evening') ## print the statement

greet()
print()           # we define once but can call multiple times
greet()
print()
greet()
print()

good evening

good evening

good evening

In [89]:
def add(x,y):
    c=x+y
    print(c)
add(5,6)

11

In [91]:
def add(x):
    c=x+y
    print(c)
add(5,6)

TypeError: add() takes 1 positional argument but 2 were given

In [93]:
def greet():  # define the function
    print('good evening') ## print the statement
greet()

def add(x,y):
    c=x+y
    print(c)
add(5,6)

good evening
11

In [95]:
def greet():  # define the function
    print('good evening') ## print the statement
greet() 
print()
def add(x,y):
    c=x+y
    print(c)
add(5,6)

good evening

11

In [97]:
def greet():  # define the function
    print('good evening') ## print the statement
def add(x,y):
    c=x+y
    print(c)
greet()
add(5,6)

good evening
11

In [99]:
def greet():  # define the function
    print('good evening') ## print the statement
def add(x,y):
    c=x+y
    print(c)
def sub(x,y):
    c=x-y
    print(c)


greet()
add(5,6)
sub(10,20)

greet()
add(10,20)
sub(10,20)

good evening
11
-10
good evening
30
-10

In [101]:
def add(x,y):
    c=x+y
    return c   # instead of print we use return
add(10,20)

30

In [103]:
def add(x,y):
    c=x+y
    return c   # instead of print we use return

def sub(x,y):
    d=x-y
    return d  # instead of print we use return
print(add(30,20))
print(sub(30,20))

50
10

In [113]:
def add(x,y):
    c=x+y
    return c

def sub(x,y):
    d=x-y
    return d
result=add(20,10)
result2=sub(20,10)

print(result)
print(result2)

print(type(result))
print(type(result2))

30
10
<class 'int'>
<class 'int'>

In [117]:
def add_sub(x,y):
    c = x-y
    d= x+y
    return c,d
result = add_sub(20,30)
print(result)
print(type(result))

(-10, 50)
<class 'tuple'>

In [119]:
def add_sub(x,y):
    c = x-y
    d= x+y
    return c,d
result,result2 = add_sub(20,30)

print(result)
print(result2)
print(type(result))
print(type(result2))  ## it is not correct syntax if we got same output

-10
50
<class 'int'>
<class 'int'>

# Function Arguments

In [121]:
def update():
    x = 8
    print(x)
update()

8

In [123]:
 def update(): 
     x = 8
     print(x)

update(8)

TypeError: update() takes 0 positional arguments but 1 was given

In [125]:
def update(x):
    x = 8
    return x

update(8)

8

In [127]:
def update(x):
    x = 8
    return x

update(10)

8

In [129]:
def update(x):
    x = 8
    return x

a = 10
print(update(a))
print(a)

8
10

### Function without argument - not required anything
### Function with argument -- divided into 2 parts

- Formal Argument
- Actual Argument

In [132]:
def add(x,y): # x & y is called--Formal Argument
    c=x+y
    return c

add(4,5) #4 & 5 is called -- Actual Argumnet

9

## Positional argument

In [139]:
def add(x,y,a,b,c,d,e,f):
    c=x+y
    return c

add(4,5,1,2,3,7,9,6)

9

In [141]:
def person(name,age):
    print(name)
    print(age)

person('nit',22)

nit
22

In [145]:
def person(name,age):
    print(name)
    print(age + 1)

person(22, 'nit')

22

TypeError: can only concatenate str (not "int") to str

### Keyword argument

In [150]:
def person(name,age):
    print(name)
    print(age + 1)
    
person(age = 22, name = 'nit')

nit
23

In [152]:
def person(name,age,salary):
    print(name)
    print(age + 1)
    print('sir job chalagya')

person(age = 22, name = 'nit')

TypeError: person() missing 1 required positional argument: 'salary'

### Default argument

In [155]:
def person(name, age, age2):
    print(name)
    print(age)
    print(age2)

person(age = 20, name = 'nit', age2 = 21)

## this is called keyword argument

nit
20
21

In [157]:
def person(name, age):
    print(name)
    print(age)

person('nit')

TypeError: person() missing 1 required positional argument: 'age'

In [161]:
def person(name,age=18):
    print(name)
    print(age)

person('nit')

nit
18

In [165]:
def person(name, age=18):
    print(name)
    print(age)

person('nit',age=40)

nit
40